_node_modules/
__node_modules/
node_modules/
docker-compose.stage.yml
docker-compose.dev.yml
docker-compose.yml
.env.stage
env.development
env.production
readme.txt
.env.test.local
coverage/
.vscode
readme.txt
Dockerfile
.git
.gitignore
.DS_Store
/dist
/.docker

__tests__/

yarn.lock
yarn-error.log
package-lock.json
api.staging.http

/doc.txt
/doc-fixo.txt
/doc-movel.txt

# archives
src/store/store.json
src/store/cart-completed/store.json
src/store/cart-abandoned/store.json
src/store/cart-completed-old/store.json
src/store/cart-abandoned-old/store.json

public/cart-abandoned/*
!public/cart-abandoned/.gitkeep

public/cart-abandoned-old/*
!public/cart-abandoned-old/.gitkeep


public/cart-completed/*
!public/cart-completed/.gitkeep

public/cart-completed-old/*
!public/cart-completed-old/.gitkeep

/public/temp/*
!/public/temp/.gitkeep

/public/temp/deletefiles/*
!/public/temp/deletefiles/.gitkeep

/public/temp/deletefiles/*
!public/temp/deletefiles/.gitkeep

/public/temp/uploads/*
!/public/temp/uploads/.gitkeep

/public/temp/uploads/*
!/public/temp/uploads/.gitkeep

/public/temp/outzipped/*
!/public/temp/outzipped/.gitkeep

/public/temp/outzipped/*
!/public/temp/outzipped/.gitkeep

/public/temp/converted/*
!/public/temp/converted/.gitkeep

/public/temp/converted/*
!/public/temp/converted/.gitkeep

/public/temp/videos/*
!/public/temp/videos/.gitkeep

/public/temp/videos/*
!/public/temp/videos/.gitkeep

/public/temp/audios/*
!/public/temp/audios/.gitkeep

/public/temp/audios/*
!/public/temp/audios/.gitkeep

/public/temp/images/*
!/public/temp/images/.gitkeep

/public/temp/images/*
!/public/temp/images/.gitkeep


# docker data
/.docker/data/apache2/*
!/.docker/data/apache2/.gitkeep

/.docker/data/mongo/data/*
!/.docker/data/mongo/data/.gitkeep

/.docker/data/mysql/data/*
!/.docker/data/mysql/data/.gitkeep

/.docker/data/pgadmin4/data/*
!/.docker/data/pgadmin4/data/.gitkeep

/.docker/data/postgres/data/*
!/.docker/data/postgres/data/.gitkeep

/.docker/data/redis/data/*
!/.docker/data/redis/data/.gitkeep

# docker logs
/.docker/logs/apache2/*
!/.docker/logs/apache2/.gitkeep

/.docker/logs/mongo/*
!/.docker/logs/mongo/.gitkeep

/.docker/logs/mysql/*
!/.docker/logs/mysql/.gitkeep

/.docker/logs/mysql/*
!/.docker/logs/mysql/.gitkeep

/.docker/logs/pgadmin4/mysql/*
!/.docker/logs/pgadmin4/mysql/.gitkeep

/.docker/logs/redis/*
!/.docker/logs/redis/.gitkeep
